---
import Layout from "~/layouts/Layout.astro";
import Card from "~/components/Card.astro";

// import type { Post } from "~/types/post";
import { SITE_TITLE } from "~/config";

import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const categories = [
    ...new Set(posts.map((post) => post.data.category.toLowerCase()).flat()),
  ];

  // posts.forEach((post) => console.log(post.data.category.toLowerCase()));

  return Array.from(categories).map((filteredCategory) => {
    const filteredPosts = posts.filter(
      (post) => post.data.category.toLowerCase() === filteredCategory
    );

    return {
      params: {
        category: filteredCategory,
      },
      props: {
        posts: filteredPosts,
      },
    };
  });
}
const { category } = Astro.params;
const { posts } = Astro.props;

function capitalize(word: any) {
  return word[0].toUpperCase() + word.substring(1);
}
const title = `${capitalize(category)} | ${SITE_TITLE}`;
---

<Layout title={title}>
  <body>
    <h2 style="margin-bottom: 10px;">
      Category: <strong>{capitalize(category)}</strong>
    </h2>

    <div class="grid">
      {posts.map((post: CollectionEntry<"blog">) => <Card post={post} />)}
    </div>
  </body>
</Layout>
