---
import type { Post } from '~/types/post';
export interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<div>
    <figure>
        <img
            class="thumbnail"
            src={`./${post.frontmatter.heroImage}`}
            alt={post.frontmatter.title}
        />
    </figure>

    <div>
        <a href={post.url}>
            <h3>{post.frontmatter.title}</h3>
        </a>
        <p>
            {post.frontmatter.description}
        </p>
    </div>
</div>

<style lang="scss">
    .thumbnail {
        width: 100%;
    }
</style>
