---
import type { Post } from '~/types/post';
export interface Props {
    post: Post;
}

const { post } = Astro.props;
---

<div class="post-card">
    <figure>
        <img
            class="thumbnail"
            src={`./${post.frontmatter.heroImage}`}
            alt={post.frontmatter.title}
        />
    </figure>

    <div class="info">
        <a href={post.url}>
            <h3>{post.frontmatter.title}</h3>
        </a>
        Posted on <strong>{post.frontmatter.pubDate}</strong>
        <hr />
        <p>
            {post.frontmatter.description}
        </p>
    </div>
</div>

<style lang="scss">
    .thumbnail {
        width: 100%;
        border-radius: 16px 16px 0 0;
    }

    .post-card {
        background-color: #296e63;
        border-radius: 16px !important;
        transition: 500ms;

        &:hover {
            transform: translateY(-3px) scale(1.1);
        }
    }

    .info {
        padding: 10px;

        h3 {
            font-size: 1.5em;
        }

        p {
            font-size: 0.9em;
        }
    }
</style>
