---
import '~/styles/global.scss';

import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
import BaseHead from './BaseHead.astro';

import { getImageURL } from '~/utils';
import { SITE_TITLE } from '~/config';

export interface Props {
    content: {
        title: string;
        description: string;
        pubDate?: string;
        updatedDate?: string;
        heroImage?: string;
        category: string;
        tags: string[];
    };
}

const {
    content: {
        title,
        description,
        pubDate,
        updatedDate,
        heroImage,
        category,
        tags,
    },
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead
            title={`${title} | ${SITE_TITLE}`}
            description={description}
            image={getImageURL(heroImage)}
        />
    </head>
    <body>
        <Header />
        <article>
            <img class="heroImg" src={getImageURL(heroImage)} alt={title} />
            <h2 class="title">{title}</h2>

            <p class="date">
                Posted on <strong>
                    <time datetime={pubDate}>
                        {
                            new Date(pubDate).toLocaleDateString('en-us', {
                                year: 'numeric',
                                month: 'long',
                                day: 'numeric',
                            })
                        }
                    </time>
                </strong>
            </p>
            <p>Category: <strong>{category}</strong></p>
            <hr />
            <slot />
        </article>

        <Footer />
    </body><style>
        .heroImg {
            width: 100%;
            border-radius: 16px;
        }
    </style>
</html>
